dash==1.0.0
dash-bootstrap-components==0.6.3
dash-core-components==1.0.0
dash-flexbox-grid==0.2.1
dash-html-components==1.0.0
dash-renderer==1.0.0
dash-table==4.0.0
flask==1.1.0
plotly==3.10.0
pony==0.7.10
psycopg2==2.8.3
gunicorn==19.9.0
sendgrid==6.1.0
